<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head id="ctl00_Head1"><link href="App_Themes/Custom/msvs_template_simple_tables.css" type="text/css" rel="stylesheet" /><title>
            سامانه آموزشی و ثبت نام دانشگاه آزاد اسلامی-واحد کرج
        </title><link href="/App_Themes/Custom/msvs_template_simple_tables.css" rel="stylesheet" type="text/css" /><meta http-equiv="expires" content="0" /><meta http-equiv="cache-control" content="no-cache" /><meta http-equiv="pragma" content="no-cache" /><meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" /><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" /><meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <style type="text/css">
@media (min-width: 768px) {
    #main-menu {
        float: right;
        width: 16em;

    }

}

        </style>

        <link href="/fonts/fonts-fa.css" rel="stylesheet" />

        <!-- SmartMenus core CSS (required) -->
        <link href="/css/sm-core-css.css" rel="stylesheet" type="text/css" />

        <!-- "sm-blue" menu theme (optional, you can use your own CSS, too) -->
        <link href="/css/sm-blue/sm-blue.css" rel="stylesheet" type="text/css" />


        <script src="/Js/profit.js" type="text/javascript"  ></script>


        <style type="text/css">
.style1
    {
    height: 51px;
    width: 113px;
}

        .auto-style3 {
            width: 145px;
        }


        </style>



    </head>
    <body     >
        <form name="aspnetForm" method="post" action="./Default.aspx" onkeypress="javascript:return WebForm_FireDefaultButton(event, 'ctl00_DoNothing')" id="aspnetForm">
            <div>
                <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="evnttarg" />
                <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="evntarg" />
                <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="viwstat" />
            </div>

        <script type="text/javascript">
            //<![CDATA[
            var theForm = document.forms['aspnetForm'];
            if (!theForm) {
                theForm = document.aspnetForm;
            }
            function __doPostBack(eventTarget, eventArgument) {
                if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                    theForm.__EVENTTARGET.value = eventTarget;
                    theForm.__EVENTARGUMENT.value = eventArgument;
                    theForm.submit();
                }
            }
            //]]>
        </script>


        <script src="/WebResource.axd?d=a0INYULtyaW-psOXRD5wKSTKEe1xEq-PYtnBRPLLN21pByTzbF4wDMkwzsjdDHjqN3yUJj9LhSi7sue0ioNtIFycc3F03pP1sPGd_gyrKVY1&amp;t=636042881952281841" type="text/javascript"></script>


        <script src="/ScriptResource.axd?d=nddDyottdcshZKjk4DjdSQmyOrNachRikSiy9SUuYCcnnzTZB5reWEHoDiSIWUoytwysZ8ePCB-HLXNmfhMkbvW-Mjqpa4FVST32-GIAoB8-XDygEJR5COli7XRJHQDKE3mxSEGG6qKzS3IMrO3SDQ2&amp;t=23c9c237" type="text/javascript"></script>
        <script type="text/javascript">
            //<![CDATA[
            if (typeof(Sys) === 'undefined') throw new Error('ASP.NET Ajax client-side framework failed to load.');
            //]]>
        </script>

        <script src="/ScriptResource.axd?d=KL0nUgL5VDSJELH3PUbVuhJ7D8CK2LPW7i8FpZDXSmcrhK1okEiN3P-M9nX_qBDSmREBuPTKDOpi6kzBPkmhtEOtIsm31u5-1Yh-W7wJk2kgI5TPRaieTabbNXcGEhS4elyT0yz8LYTCx5sKn0xU-A2&amp;t=23c9c237" type="text/javascript"></script>
        <script src="/WebResource.axd?d=SsIh-lGSnVqAH_3Sod3Q9a6igRXxLWkSlfLLBHTALCpNAPe7Zxp0paugOJC4Vq5y08MQ8GzEINZSOuGbH2FfVWXT1kRagtT9vyItnVvib6Q1&amp;t=636042881952281841" type="text/javascript"></script>
        <div>

            <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="viwstatgen" />
            <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="evntvalid" />
        </div>





        <script type="text/javascript">
            //<![CDATA[
            Sys.WebForms.PageRequestManager._initialize('ctl00$ScriptManager1', 'aspnetForm', ['tctl00$UpdatePanel1',''], [], [], 90, 'ctl00');
            //]]>
        </script>

        <div  >


            <!--SITE NAME & SLOGAN onkeydown="if (event.keyCode==8) {event.keyCode=0; return event.keyCode }  -->
            <table  border="0" cellspacing="0" cellpadding="0" id="header" class ="buttonsfk17"    style="font-size:12px " >
                <tr>
                    <td dir="ltr" align="center" class="style1" >
                        <input type="submit" name="ctl00$DoNothing" value="" id="ctl00_DoNothing" disabled="disabled" class="button" style="display: none;" />
                        <input type="submit" name="ctl00$Button1" value="خروج" id="ctl00_Button1" class="button_18new" style="height:50px;width:70px;" />

                    </td>
                        <td dir="ltr" style="text-align :center " class="style1" >
                            <img id="ctl00_Image1" class="img-circle" src="images/icon_student.gif" style="height:60px;width:50px;border-width:0px;" />
                        </td>
                            <td    >
                                <table style="border-style:none; border-width: 0px;font-family:IRANSans;font-size:16px;  border-collapse:unset; border-spacing: 0px; width:100%; " >
                                    <tr>
                                        <td  align= "center" rowspan="3" style="height: 51px; font-family : IRANSans; font-size : 18px; color: #FFFFFF;"    >
                                            <table width="100%" >
                                                <tr>
                                                    <td align="center"  style=" text-shadow: 1px 1px 2px black, 0 0 25px yellow, 0 0 5px navy;" > سامانه آموزشي و ثبت نام دانشگاه آزاد اسلامی-واحد کرج

                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td align="center"  style=" text-shadow: 1px 1px 6px white, 0 0 25px yellow, 0 0 7px navy;Font-Size:14px; color: black;" >



                                                        <span id="ctl00_Label32" style="font-family:iransans;">مدیر گروه : آقاي جواد محمدزاده</span>



                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                <td   >



                    <span id="ctl00_Label31" style="color:#CC3300;font-family:iransans;font-size:9pt;">تاریخ آخرین ورود  : 98/10/17_01:03</span>



                </td>
                <td    width="70px" rowspan="3" dir="rtl">
                    <img id="ctl00_Image2" class="img-circle" src="Images/ARM4.PNG" style="height:70px;width:50px;border-width:0px;" />
                </td>
                                    </tr>
                                    <tr>
                                        <td align="right" dir="rtl"  >
                                            <span id="ctl00_roz" class="_Btns" style="font-size:12px;">98/10/17</span>

                                            &nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td >

                                            &nbsp;</td>
                                    </tr>
                                </table>
                            </td>
                </tr>
            </table>


            <table border="0" cellspacing="0" cellpadding="0" id="content-container">

                <tr>

                    <td  >
                        <table     id="he22"  width="100%" class="button_17" style="font-size:12px;background-color:#cdefef  " >
                            <tr>
                                <td  >
                                    <table style="border-style:none; border-width: 0px; border-collapse:unset; border-spacing: 0px; width:100%; " >
                                        <tr>
                                            <td align="right" class="auto-style3">

                                                <span id="ctl00_Label10" style="color:Maroon;">كارشناسي</span>

                                            </td>
                                    <td>

                                        <label  for="lblmagh">
                                            <span id="ctl00_Label3" style="color:Navy;font-size:10pt;">: مقطع تحصیلی</span></label>

                                    </td>                              <td align="right">

                                        <span id="ctl00_Label8" style="color:Maroon;">محمد تقي</span>

                                    </td>                              <td>

                                        <label  for="lblnamep">
                                            <span id="ctl00_Label17" style="color:Navy;font-size:10pt;">: نام پدر</span></label>

                                    </td>                              <td align="right">

                                        <span id="ctl00_Label6" style="color:Maroon;">علي ذاكري</span>

                                    </td>                              <td>

                                        <label  for="lblStFullName">
                                            <span id="ctl00_Label19" style="color:Navy;font-size:10pt;">: نام و نام خانوادگی</span></label>

                                    </td>
                                    <td  align="right">

                                        <span id="ctl00_Label28" style="color:Maroon;">972207757_68</span>

                                    </td>
                                    <td>

                                        <label  for="lblStFullName">
                                            <span id="ctl00_Label26" style="color:Navy;font-size:10pt;">: شماره دانشجویی</span></label>

                                    </td>
                                        </tr>
                                        <tr>
                                            <td  align="right" class="auto-style3"  >


                                                <span id="ctl00_Label16" style="color:Maroon;">پاره وقت</span>


                                            </td>
                                            <td>

                                                <label  for="lblmagh">
                                                    <span id="ctl00_Label21" style="color:Navy;font-size:10pt;">: سیستم آموزشی</span></label>

                                            </td>                                <td align="right">

                                                <span id="ctl00_Label14" style="color:Maroon;">97</span>

                                            </td>                                <td>

                                                <label  for="lblStFullName">
                                                    <span id="ctl00_Label23" style="color:Navy;font-size:10pt;">: سال مالی</span></label>

                                            </td>                                <td align="right">

                                                <span id="ctl00_Label12" style="color:Maroon;">مهندسي كامپيوتر</span>

                                            </td>                                <td>

                                                <label  for="lblStFullName">
                                                    <span id="ctl00_Label25" style="color:Navy;font-size:10pt;">: رشته تحصیلی</span></label>

                                            </td>
                                            <td  align="right">

                                                <span id="ctl00_Label29" style="color:Maroon;">عادی</span>

                                            </td>
                                            <td>

                                                <label  for="lblStFullName">
                                                    <span id="ctl00_Label27" style="color:Navy;font-size:10pt;">: وضعیت تحصیلی</span></label>

                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>

                    </td>
                    <td  style ="width :190px;vertical-align:middle; height: 30px; background-color:#ffffcc " class="buttonsfk17" align="center" >

                        <span id="ctl00_term" class="_Btns" style="color:Navy;font-family:iransans;font-size:12px;font-weight:bold;">نیمسال اول  سال 99-98</span>
                        <br />


                    </td>
                </tr>

                <tr>

                    <td id="content" dir="rtl"   >
                        <!-- CONTENT-->

                        <!--<legend>پیامها  </legend>
                        -->
                        <div id="ctl00_UpdatePanel1">







                        </div>


                    </td>
                    <td  style ="width :280px;vertical-align:top;">
                        <div id="ctl00_menudiv">
                            <nav class="main-nav" role="navigation"   >


                                <ul id="main-menu" class="sm sm-rtl sm-vertical sm-blue"   >


                                    <li   > <a href="#" style="font-family :IRANSans ;font-size :14px;"   >انتخاب واحد </a>
                                        <ul  >
                                            <li><a href="/SelectCourse.aspx?h=2"   style="font-family :IRANSans ;font-size :14px;"   >انتخاب واحد اولیه</a></li>
                                            <li><a href="/SelectCourse.aspx?h=1" style="font-family :IRANSans ;font-size :14px;"   >انتخاب واحد حذف و اضافه</a></li>
                                            <li><a href="/SelectCourse_pish.aspx"  style="font-family :IRANSans ;font-size :14px;"  >پیش ثبت نام</a></li>
                                        </ul>
                                    </li>


                                    <li><a href="#" style="font-family :IRANSans ;font-size :14px;"> امور مالی</a>
                                        <ul>
                                            <li><a href="/vazmali.aspx"style="font-family :IRANSans ;font-size :14px;" >وضعیت مالی</a></li>
                                            <li><a href="/pay_new.aspx"style="font-family :IRANSans ;font-size :14px;" >پرداخت الکترونیکی </a></li>
                                            <li><a href="#"style="font-family :IRANSans ;font-size :14px;" >پی گیری پرداخت الکترونیکی </a>
                                                <ul>
                                                    <li><a href="/cofirmbankmeli.aspx"style="font-family :IRANSans ;font-size :14px;" > درگاه بانک ملی</a></li>
                                                    <li><a href="/cofirmbankmelat.aspx"style="font-family :IRANSans ;font-size :14px;" > درگاه بانک ملت</a></li>

                                                </ul>

                                            </li>


                                            <li><a href="/formolsha/formolshah.aspx"style="font-family :IRANSans ;font-size :14px;" >محاسبه گر شهریه </a></li>
                                            <li><a href="/sabt_check.aspx"style="font-family :IRANSans ;font-size :14px;" > تقسیط شهریه دریافت چک</a></li>
                                            <li><a href="/stu_typeghest.aspx"style="font-family :IRANSans ;font-size :14px;" > تقسیط کل شهریه دوره تحصیل</a> </li>
                                            <li><a href="/list_aghsat.aspx"style="font-family :IRANSans ;font-size :12px;" >لیست و پرداخت اقساط کل شهریه تحصیلی</a>

                                            </li>
                                        </ul>
                                    </li>

                                    <li><a href="#"style="font-family :IRANSans ;font-size :14px;">امور آموزشی</a>
                                        <ul>
                                            <li><a href="/darkhastshora.aspx"style="font-family :IRANSans ;font-size :14px;" >ثبت در خواست از شورای آموزش </a></li>
                                            <li><a href="/sms_option.aspx"style="font-family :IRANSans ;font-size :14px;" >  سامانه اس ام اس</a></li>
                                            <li><a href="/program_hafteh2.aspx"style="font-family :IRANSans ;font-size :14px;" >برنامه هفتگی(1)</a></li>
                                            <li><a href="/program_hafteh.aspx"style="font-family :IRANSans ;font-size :14px;" >برنامه هفتگی(2)</a></li>

                                            <li><a href="/eteraz_nomreh.aspx"style="font-family :IRANSans ;font-size :14px;" >نمرات اعلام شده و اعتراض به نمره</a></li>
                                            <li><a href="/Karnameha.aspx"style="font-family :IRANSans ;font-size :14px;" >کارنامه</a></li>
                                            <li><a href="/list_ara.aspx"style="font-family :IRANSans ;font-size :14px;" >لیست دروس ارائه شده</a></li>
                                            <li><a href="/zamanbandi/list_zamanbandi.aspx"style="font-family :IRANSans ;font-size :14px;" >زمان بندی ثبت نام</a></li>
                                            <li><a href="/print_form/matn_kartexam.aspx"style="font-family :IRANSans ;font-size :14px;" >کارت امتحان</a></li>
                                            <li><a href="/NazarMain.aspx"style="font-family :IRANSans ;font-size :14px;" >نظر سنجی</a></li>
                                            <li><a href="/sabt_mobile.aspx"style="font-family :IRANSans ;font-size :14px;" >ثبت موبایل</a></li>
                                            <li><a href="/list_dros.aspx"style="font-family :IRANSans ;font-size :14px;" >چارت پیشنهادی دروس</a></li>
                                            <li><a href="/list_adam_klas.aspx"style="font-family :IRANSans ;font-size :14px;" >لیست عدم تشکیل کلاس ها</a></li>
                                            <li><a href="/stu_form.aspx"style="font-family :IRANSans ;font-size :14px;" >فرم و پیوستها</a></li>
                                        </ul>
                                    </li>

                                    <li><a href="#"style="font-family :IRANSans ;font-size :14px;">امور دانشجویی</a>
                                        <ul>
                                            <li><a href="/fraghat.aspx">فارغ التحصیلان</a></li>
                                            <li><a  style="font-size:11px" href="/govahi.aspx">در خواست گواهی اشتغال به تحصیل</a></li>
                                            <li><a href="#">سلف سرویس</a>
                                                <ul>
                                                    <li><a href="/self_service/list_rezerv.aspx">ثبت رزرو غذا</a></li>
                                                    <li><a  style="font-size:11px" href="/payself/paybankm.aspx">افزایش اعتبار سلف سرویس - درگاه بانک ملی</a></li>
                                                    <li><a href="/self_service/paybank_melat.aspx">افزایش اعتبار سلف سرویس - درگاه بانک ملت</a></li>
                                                    <li><a href="/payself/cofirmbankmeli_self.aspx">برگشت ناموفق بانک ملی</a></li>
                                                    <li><a href="/self_service/cofirmbankmelat.aspx">برگشت ناموفق بانک ملت</a></li>
                                                </ul>
                                            </li>
                                            <li><a href="#"style="font-family :IRANSans ;font-size :14px;">خوابگاه</a>
                                                <ul>

                                                    <li><a href="/khabgah/list_bedkhab.aspx"style="font-family :IRANSans ;font-size :14px;">لیست و پرداخت اقساط خوابگاه</a></li>

                                                    <li><a href="#">برگشت ناموفق بانک ملی</a></li>
                                                    <li><a href="/khabgah/cofirmbankmelat1.aspx">برگشت ناموفق بانک ملت</a></li>
                                                </ul>
                                            </li>
                                            <li><a  style="font-size:11px"  href="/uplodeaks/sabt_aksstu.aspx"  >ارسال عکس جدید برای فراغت از تحصیل</a></li>

                                        </ul>
                                    </li>
                                    <li><a href="/stu_form2.aspx"style="font-family :IRANSans ;font-size :14px;">ابلاغ ها</a>

                                    </li>
                                    <li><a href="/sabt_amar.aspx"style="font-family :IRANSans ;font-size :12px;">ثبت اطلاعات تکمیلی(آموزش)</a>

                                    </li>

                                    <li><a href="#"style="font-family :IRANSans ;font-size :14px;"> صندوق رفاه</a>
                                        <ul>
                                            <li><a href="/list_vam.aspx" style="font-family :IRANSans ;font-size :14px;" >پرداخت اقساط صندوق رفاه </a></li>
                                            <li><a href="/sabt_vamamozesh.aspx" style="font-family :IRANSans ;font-size :14px;" > ثبت در خواست وام صندوق رفاه</a></li>
                                            <li><a href="/sajed_san.aspx" style="font-family :IRANSans ;font-size :14px;" >درخواست وام بانکهای مهر ایران ، رسالت ، ملی و بلند مدت وزارت علوم</a></li>
                                            <li><a href="/taeed_zamen_vam.aspx" style="font-family :IRANSans ;font-size :14px;" >لیست و تایید ضمانت وام ها</a></li>
                                            <li><a href="/print_form/print_sandogh.aspx" style="font-family :IRANSans ;font-size :14px;" >فرم در خواست وام کوتاه مدت</a></li>
                                            <li><a href="#" style="font-family :IRANSans ;font-size :14px;" >فرم در خواست وام میان مدت</a></li>
                                            <li><a href="/cofirmbankmeli_san.aspx" style="font-family :IRANSans ;font-size :12px;" >برگشت ناموفق بانک ملی صندوق رفاه</a></li>


                                        </ul>
                                    </li>

                                    <li><a href="/sabt_sangogh_stu.aspx" style="font-family :IRANSans ;font-size :14px;">صندوق پستی</a>
                                    </li>
                                    <li><a href="/Changepassword.aspx"style="font-family :IRANSans ;font-size :14px;">تغییر رمز عبور</a></li>
                                    <li><a href="/Changepassword.aspx"style="font-family :IRANSans ;font-size :14px;">پیام های عمومی و شخصی</a>
                                        <ul>
                                            <li><a href="/messagestu_omomi_disp.aspx" style="font-family :IRANSans ;font-size :14px;" >نمایش پیام های عمومی </a></li>
                                            <li><a href="/messagestu_disp.aspx" style="font-family :IRANSans ;font-size :14px;" >نمایش پیام های شخصی</a></li>
                                        </ul>

                                    </li>

                                </ul>
                            </nav>
                        </div>
                    </td>
                </tr>

            </table>



            <!-- FOOTER-->
            <table border="0" cellspacing="0" cellpadding="0" id="footer">
                <tr>
                    <td style="background-position: center center; background-image: url('/images/footer2.jpg');  "
                        align="center">
                        <p style ="font-variant:normal ;font-weight:600 ; color :white;  ">
                        تمام حقوق اين سايت مربوط به   دانشگاه آزاد اسلامی-واحد کرج مي باشد  &copy;&nbsp;
                        </p>
                    </td>
                </tr>
            </table>


        </div>


        <script type="text/javascript">
            //<![CDATA[
            WebForm_AutoFocus('DoNothing');//]]>
        </script>
        </form>
        <!-- jQuery -->

        <script type="text/javascript"   src="/Css/jquery.js"></script>
        <!-- SmartMenus jQuery plugin -->
        <script type="text/javascript" src="/Css/Jquery/jquery.smartmenus.min.js"></script>

    </body>

</html>


<script type="text/javascript">
    $(function () {
        $('#main-menu').smartmenus({
            mainMenuSubOffsetX: 1,
            mainMenuSubOffsetY: -8,
            subMenusSubOffsetX: 1,
            subMenusSubOffsetY: -8
        });
        $('#main-menu').smartmenus('keyboardSetHotkey', 123, 'ctrlKey');
    });
</script>


<script  type="text/javascript"  lang="JavaScript">
    <!--
    history.pushState(null, null, location.href);
    window.addEventListener('popstate', function (event) {
        history.pushState(null, null, location.href);
    });
    //-->
</script>
<script  type="text/javascript"  lang="JavaScript">
    <!--
    history.pushState(null, null, location.href);
    window.onpopstate = function () {
        history.go(1)
    };

    //-->
</script>

<script  type="text/javascript"  lang="JavaScript">
    <!--
    window.history.forward(-1);
    //-->
</script>
