<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">


    <head id="Head1"><link href="/fonts/fonts-fa.css" rel="stylesheet" /><link href="helpfor_newstu/themes/start/jquery-ui.css" rel="stylesheet" type="text/css" />
        <script src="Js/jquery-2.0.3.js" type="text/javascript"></script>
        <script src="Css/Jquery/jquery-ui.js" type="text/javascript"></script>

        <link href="Css/Login.css" rel="stylesheet" type="text/css" /><link rel="shortcut icon" type="image/x-icon" href="Images/favicon.ico" />


        <script language="javascript" type="text/javascript">

            function setEmptyPassword() {

                var texttasvir = document.getElementById('texttasvir');
                var txtPassword = document.getElementById('txtPassword');
                if (txtPassword) {
                    txtPassword.value = "";
                }
                if (texttasvir) {
                    texttasvir.value = "";
                }

            }
            window.onload = setEmptyPassword;
        </script>
        <script  language="javascript" type="text/javascript">
            $(function () {
                $("#tabs").tabs({
                    collapsible: false
                });
            });
        </script>

        <title>
            سیستم ثبت نام
        </title>



        <style type="text/css">


.auto-style4 {
    height: 132px;
    width: 88px;
}




        </style>
    </head>
    <body class="bodyLogin1"  style ="background-color:rgba(61, 107, 192, 0.24) ">
        <form name="form2" method="post" action="./login.aspx" onsubmit="javascript:return WebForm_OnSubmit();" id="form2">
            <div>
                <input type="hidden" name="__EVENTTARGET" id="__EVENTTARGET" value="evnttarg" />
                <input type="hidden" name="__EVENTARGUMENT" id="__EVENTARGUMENT" value="evntarg" />
                <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="viwstat" />
            </div>

            <script type="text/javascript">
                //<![CDATA[
                var theForm = document.forms['form2'];
                if (!theForm) {
                    theForm = document.form2;
                }
                function __doPostBack(eventTarget, eventArgument) {
                    if (!theForm.onsubmit || (theForm.onsubmit() != false)) {
                        theForm.__EVENTTARGET.value = eventTarget;
                        theForm.__EVENTARGUMENT.value = eventArgument;
                        theForm.submit();
                    }
                }
                //]]>
            </script>


            <script src="/WebResource.axd?d=a0INYULtyaW-psOXRD5wKSTKEe1xEq-PYtnBRPLLN21pByTzbF4wDMkwzsjdDHjqN3yUJj9LhSi7sue0ioNtIFycc3F03pP1sPGd_gyrKVY1&amp;t=636042881952281841" type="text/javascript"></script>


            <script src="/WebResource.axd?d=PTraf9gBJaTsIa3rIEcXezbs1T6r45hWRE046zZ4AzYm-6ZfXq3m3WvG-7t040gWLiozm8EdGDWBOL2qB7n2xwqByVuBc_HGVQtHuM_61h81&amp;t=636042881952281841" type="text/javascript"></script>
            <script type="text/javascript">
                //<![CDATA[
                function WebForm_OnSubmit() {
                    if (typeof(ValidatorOnSubmit) == "function" && ValidatorOnSubmit() == false) return false;
                    return true;
                }
                //]]>
            </script>

            <div>

                <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="viwstatgen" />
                <input type="hidden" name="__EVENTVALIDATION" id="__EVENTVALIDATION" value="evntvalid" />
            </div>


            <table class="button_19"  width="90%"  style="margin :auto;background-color:#23219a  " >
                <tr>

                    <td align="center" style="text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px navy;"  >

                        <span id="Label3" style="display:inline-block;color:White;font-family:iransans;font-size:18pt;font-weight:bold;width:100%;">سامانه جامع دانشگاه آزاد اسلامی</span>


                    </td>

                </tr>

            </table>



            <center>


                <div class="table" style="background-color:#6DA6E4;box-shadow: 6px 6px 3px black;border-color:white ;width :90%;margin-top :20px; ">



                    <table>
                        <tr>
                            <td>

                                <table dir="rtl" width="400px" style="align-items: center; align-content: center">
                                    <tr>
                                        <td>
                                            <div class="box1">
                                                <div class="ribbon1"><span>سیدا 7  </span></div>
                                            </div>
                                            <div class="box1">
                                                <div class="ribbon"><span>نسخه  119</span></div>
                                            </div>
                                            <table class="table" width="100%" style="background-color: #acd6ef; box-shadow: 0 5px 5px 1px   rgba(0, 0, 0, 7)">
                                                <tr>
                                                    <td align="center">
                                                        <span id="Label1" style="display:inline-block;font-family:iransans;font-size:14pt;font-weight:bold;width:100%;">دانشگاه آزاد اسلامی-واحد کرج</span>
                                                    </td>
                                                </tr>

                                            </table>
                                        </td>
                                    </tr>
                                    <tr style="width: 100%;">

                                        <td class="table" style="align-items: center; align-content: center; background-color:#f0e4d5; font-family: IRANSans; font-size: 14px; font-weight: bold; box-shadow: 0 2px 2px     rgba(0, 0, 0, 7)" align="center" height="35">
                                            <img class="auto-style4" src="Images/arm_fa.png" alt="" />
                                            <div class="calculate">


                                                <span id="MounthDay" class="Mounthclass noselect">
                                                    <span id="Lmah">دي</span></span>
                                                <span id="numDay" class="DayNumclass noselect">
                                                    <span id="Lrozn">17</span></span>
                                                <span id="WeekName" class="Dayclass noselect">
                                                    <span id="Lrozh">سه شنبه</span></span>

                                            </div>



                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <table cellpadding="2" cellspacing="2"
                                                                   style="border: 2px solid #0a3876; width: 100%; background-color: #f0e4d5; box-shadow: 0 5px 5px 1px   rgba(0, 0, 0, 7)" class="table">
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left">&nbsp;</td>
                                                    <td align="left">
                                                        <span id="Label2" style="font-family:IRANSans;font-size:16px;font-weight:bold;">نام کاربری :</span>
                                                    </td>
                                                    <td align="right">&nbsp;</td>
                                                    <td align="right" colspan="3">
                                                        <input name="txtUserName" type="text" maxlength="11" id="txtUserName" tabindex="1" dir="ltr" placeholder="نام کاربری" style="font-family:IRANSans;font-size:10pt;width:110px;width: 110px; font-family: IRANSans; font-size: 10pt;" />

                                                        <span id="UserNameRequired" title="نام کاربری را وارد کنید" style="color:Red;font-size:8pt;visibility:hidden;">نام کاربری را وارد کنید</span>
                                                    </td>
                                                    <td align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="left">&nbsp;</td>
                                                    <td align="left">
                                                        <span id="Label5" style="font-family:IRANSans;font-size:16px;font-weight:bold;">رمز عبور :</span>
                                                    </td>
                                                    <td align="right">&nbsp;</td>
                                                    <td align="right" colspan="3">
                                                        <input name="txtPassword" type="password" maxlength="100" id="txtPassword" tabindex="2" placeholder="رمز عبور" style="font-family:IRANSans;font-size:10pt;width:110px;" />
                                                        <span id="PasswordRequired" title="رمز عبور را وارد کنید" style="color:Red;font-size:8pt;visibility:hidden;">رمز عبور را وارد کنید</span>
                                                    </td>
                                                    <td align="center">&nbsp;</td>
                                                </tr>


                                                <tr>

                                                    <td align="left">&nbsp;</td>
                                                    <td align="left">
                                                        <label for="txtPassword" id="Label4" style="color:Black;font-family:IRANSans;font-size:14px;font-weight:bold;">متن تصویر :</label>
                                                    </td>

                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <input name="texttasvir" type="text" maxlength="5" id="texttasvir" tabindex="3" class="textbox" placeholder="متن تصویر" style="width:110px;" />
                                                    </td>
                                                    <td>&nbsp;</td>
                                                    <td>
                                                        <img id="Image1" src="Captcha.aspx" style="border-color:#85F38A;border-width:2px;border-style:Solid;height:30px;width:110px;" />
                                                    </td>
                                                    <td></td>
                                                </tr>


                                                <tr>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center">
                                                        <input type="submit" name="LoginButton0" value="ورود دانشجو" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;LoginButton0&quot;, &quot;&quot;, true, &quot;Login1&quot;, &quot;&quot;, false, false))" id="LoginButton0" tabindex="3" class="button_18" style="font-family:iransans;font-size:18px;font-weight:bold;height:35px;width:120px;" />
                                                    </td>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center">
                                                        <input type="submit" name="LoginButton" value="ورود استاد" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;LoginButton&quot;, &quot;&quot;, true, &quot;Login1&quot;, &quot;&quot;, false, false))" id="LoginButton" tabindex="3" class="button_18" style="font-family:iransans;font-size:18px;font-weight:bold;height:35px;width:120px;" />
                                                    </td>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center">
                                                        <input type="submit" name="LoginButton1" value="ورود کارمند" onclick="javascript:WebForm_DoPostBackWithOptions(new WebForm_PostBackOptions(&quot;LoginButton1&quot;, &quot;&quot;, true, &quot;Login1&quot;, &quot;&quot;, false, false))" id="LoginButton1" tabindex="3" class="button_18" style="font-family:iransans;font-size:18px;font-weight:bold;height:35px;width:120px;" />
                                                    </td>
                                                    <td style="width: 10px;">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center" colspan="3">&nbsp;<br />
                                                    </td>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center" colspan="3">&nbsp;</td>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center">&nbsp;</td>
                                                    <td align="center">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td colspan="3">
                                                        <input type="submit" name="Button2" value="لیست دروس ارائه شده در واحد" id="Button2" tabindex="4" class="button_18" style="font-family:iransans;font-size:14px;font-weight:bold;height:35px;width:260px;" />
                                                    </td>
                                                    <td align="right" style="width: 10px;">&nbsp;</td>
                                                    <td align="right">
                                                        <input type="submit" name="newstu" value="ورودی های جدید" id="newstu" tabindex="4" class="button_18" style="background-color:#F0EA66;font-family:iransans;font-size:14px;font-weight:bold;height:35px;width:120px;" />
                                                    </td>
                                                    <td align="right">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td>&nbsp;</td>
                                                    <td colspan="5" align="center">&nbsp;</td>
                                                    <td align="right">&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td align="center" style="color: #008080;">&nbsp;</td>
                                                    <td align="center" style="color: #008080;">
                                                        <span id="lbltime" style="font-family:IRANSans;font-size:12px;">1:58:3</span>
                                                        <span id="lblDate" class="lbclan" style="font-family:IRANSans;">98/10/17</span>
                                                    </td>
                                                    <td align="right" style="color: #D35074;"></td>
                                                    <td align="right" colspan="3" style="color: #D35074;">

                                                        <span id="lblip" style="font-family:IRANSans;font-size:12px;">IP:37.156.57.241</span>

                                                    </td>
                                                    <td align="right" style="color: #D35074;"></td>
                                                </tr>

                                            </table>
                                            <br />
                                        </td>

                                    </tr>
                                </table>
                            </td>
                            <td>
                                <div id="tabs">
                                    <ul>
                                        <li style="font-family:iransans;font-size:11px; "><a href="#tabs-1"> امور مالی</a></li>
                                        <li style="font-family:iransans;font-size:11px; "><a href="#tabs-2"> آموزشی</a></li>
                                        <li style="font-family:iransans;font-size:11px; "><a href="#tabs-3"> پژوهشی</a></li>
                                        <li style="font-family:iransans;font-size:11px; "><a href="#tabs-4"> دانشجویی</a></li>
                                        <li style="font-family:iransans;font-size:11px; "><a href="#tabs-5"> امتحانات</a></li>
                                        <li style="font-family:iransans;font-size:11px; "><a href="#tabs-6"> دانشکده ها</a></li>


                                    </ul>
                                    <div id="tabs-1" style="background-color:#f0e4d5  ">
                                        <div  style="width:500px;height:450px ;"   >
                                            <iframe  width="500px" height="450px" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"    src="helpfor_login/Htmltab1.html">
                                            </iframe>

                                        </div>

                                    </div>
                                    <div id="tabs-2">
                                        <div  style="width:500px;height:450px ; "   >
                                            <iframe width="500px" height="450px" frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"    src="helpfor_login/Htmltab2.html">
                                            </iframe>
                                        </div>

                                    </div>
                                    <div id="tabs-3">
                                        <div  style="width:500px;height:450px ; "   >
                                            <iframe  width="500px" height="450px"   frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"    src="helpfor_login/Htmltab3.html">
                                            </iframe>
                                        </div>

                                    </div>
                                    <div id="tabs-4">
                                        <div  style="width:500px;height:450px ; "   >
                                            <iframe  width="500px" height="450px"  frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"    src="helpfor_login/Htmltab4.html">
                                            </iframe>
                                        </div>
                                    </div>
                                    <div id="tabs-5">
                                        <div  style="width:500px;height:450px ; "   >
                                            <iframe  width="500px" height="450px"   frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"    src="helpfor_login/Htmltab5.html">
                                            </iframe>
                                        </div>

                                    </div>
                                    <div id="tabs-6">
                                        <div  style="width:500px;height:450px ; "   >
                                            <iframe  width="500px" height="450px"   frameborder="0" scrolling="yes" marginheight="0" marginwidth="0"    src="helpfor_login/Htmltab6.html">
                                            </iframe>
                                        </div>
                                    </div>


                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </center>


            <script type="text/javascript">
                //<![CDATA[
                var Page_Validators =  new Array(document.getElementById("UserNameRequired"), document.getElementById("PasswordRequired"));
                //]]>
            </script>

            <script type="text/javascript">
                //<![CDATA[
                var UserNameRequired = document.all ? document.all["UserNameRequired"] : document.getElementById("UserNameRequired");
                UserNameRequired.controltovalidate = "txtUserName";
                UserNameRequired.errormessage = "نام کاربری را وارد کنید";
                UserNameRequired.validationGroup = "Login1";
                UserNameRequired.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
                UserNameRequired.initialvalue = "";
                var PasswordRequired = document.all ? document.all["PasswordRequired"] : document.getElementById("PasswordRequired");
                PasswordRequired.controltovalidate = "txtPassword";
                PasswordRequired.errormessage = "رمز عبور را وارد کنید";
                PasswordRequired.validationGroup = "Login1";
                PasswordRequired.evaluationfunction = "RequiredFieldValidatorEvaluateIsValid";
                PasswordRequired.initialvalue = "";
                //]]>
            </script>


            <script type="text/javascript">
                //<![CDATA[

                var Page_ValidationActive = false;
                if (typeof(ValidatorOnLoad) == "function") {
                    ValidatorOnLoad();
                }

                function ValidatorOnSubmit() {
                    if (Page_ValidationActive) {
                        return ValidatorCommonOnSubmit();
                    }
                    else {
                        return true;
                    }
                }
                //]]>
            </script>
        </form>
    </body>
</html>

